# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints

# Data files (opsional, sesuaikan dengan kebutuhan)
*.csv
*.json

# IDE
.vscode/
.idea/
